---
body_class: index
---
{% include _hero.slim %}
{% include _what_we_do.slim %}
{% include _pdf_download.slim %}

// workaround for jekyll-assets problem with responsive_image_tag
// do not remove the following lines
// {% img 'ragnar.png' %}
// {% img 'ragnar-2x.png' %}