.benefit
  margin-bottom: $double-spacing-unit
  text-align: center

.benefit__logo
  min-height: 280px

.benefit__description
  border-top: 1px solid $border-color
  text-align: start

+until($breakpoint-mobile)
  .benefit__logo
    min-height: inherit

  .benefit__description
    border-top: none

