.brand
  +text-hide
  display: block
  width: $brand-width
  height: $brand-height
  margin-bottom: 0
  background-image: image-url('brand.png')
  background-size: $brand-width $brand-height

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)
  .brand
    background-image: image-url('brand-2x.png')

@media (-webkit-min-device-pixel-ratio: 3), (min-resolution: 250dpi)
  .brand
    background-image: image-url('brand-3x.png')
