.hero
  padding-top: $quadruple-spacing-unit
  padding-bottom: $quadruple-spacing-unit
  background: linear-gradient(45deg, $hero-base-background, $hero-alt-background)
  color: $hero-color

.hero__slogan
  +typecsset-font-size(56px)
