.rule
  margin-top: $double-spacing-unit
  margin-bottom: $double-spacing-unit
  border-top: none
  border-bottom: 1px dashed $border-color

.rule-phone
  display: none

+breakpoint($breakpoint-phone)
  .rule-phone
    display: block
