.social-media
  > li > a
    padding-right: $base-spacing-unit * 0.15
    padding-left: $base-spacing-unit * 0.15
    text-decoration: none
    font-size: 1em
    color: $base-color
    transition: all .3s
    &:hover
      color: $brand-color
