<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />
  <meta content="Ragnarson" property="og:title" />
  <meta content="/images/website-embed.png" property="og:image" />
  <meta content="We are Ruby and JavaScript developers specialized in building web applications for startups since 2006" property="og:description" />
  <meta content="none-when-downgrade" name="referrer" />
  <title>Ragnarson</title>
  <link href="/stylesheets/ragnarson.css" rel="stylesheet" type="text/css" />
  <link href="http://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet" type="text/css" />
  <link href="/favicon-152.png" rel="apple-touch-icon-precomposed" />
</head>
<body>
  {{ content }}
</body>
</html>