header class="header js-header"
  div class="container"
    div class="grid grid--middle"
      div class="grid__item one-third"
        h1 class="brand"
          | Ragnarson
      div class="grid__item two-thirds text-right"
        nav
          ul class="nav nav-main js-nav-main"
            li= link_to 'What we do', '#what-we-do', class: 'js-smooth-scroll'
            li= link_to 'What we did', '#what-we-did', class: 'js-smooth-scroll'
            li= link_to 'Who we are', '#who-we-are', class: 'js-smooth-scroll'
            li= link_to 'Contact Us', '#contact-us', class: 'js-smooth-scroll'
          ul class="nav nav-main-rwd"
            li
              = link_to '#', class: 'nav-main-rwd-navicon js-nav-main-rwd-navicon' do
                i class="fa fa-bars"

div class="hero"
  div class="container"
    h1 class="hero-slogan"
      | Transform your idea into a working product
    h2
      | We are Ruby and JavaScript developers
      br
      | specialized in building web applications for startups since 2006
    div class="lead"
      = link_to 'Work with us', '#contact-us', 'data-scroll' => '', class: 'btn btn-large'

div class="container"
  = partial 'what_we_do'
  = partial 'what_we_did'
  = partial 'who_we_are'
  = partial 'contact_us'

  footer class="footer"
    | &copy; #{Time.now.year} Ragnarson sp. z o.o.
