#index
  #main
    > .inner
      margin: 0
      width: auto
#home
  #main, footer
    background: none
    border-bottom: none
  .content
    h2
      font-weight: bold
      font-size: 1.1em
    p
      margin: -0.7em 0 0.7em
      color: #999999
  footer
    .inner
      border-top: 2px solid #ddd
      margin-top: 1em

#portfolio, #testimonials
  clear: both
  background-color: $background_color
  color: $font_color

#portfolio, #testimonials, #content, #home-contact
  .inner
    +grid-container
  h2
    font-size: 2em
    font-weight: normal

#portfolio, #testimonials
  h2
    +border-bottom-dark
    margin-bottom: 0
    padding: 10px 10px 20px
    font-weight: bold
    small
      float: right
      font-size: 0.6em
      font-weight: normal

#portfolio
  background-color: #dccea7
  padding: 10px 0
  h2
    border-bottom: 1px solid darken(#dccea7, 10%)
  .project
    +clearfix
    padding: 40px 0
    clear: both
    .description
      +grid(6, 12)
      h3
        font-size: 1.6em
        margin-top: 2em
      p
        font-size: 1.4em
      h3, p
        margin-left: 0
        margin-right: 20px
    .screenshot
      +grid(6, 12)
      float: right
    img
      width: 420px
      float: right
      background: lighten(#dccea7, 70%)
      padding: 9px
      border: 1px solid darken(#dccea7, 10%)
    &#shelly
      border-bottom: 1px solid darken(#dccea7, 10%)
      border-top: 1px solid lighten(#dccea7, 10%)
    &#jobmensa
      border-bottom: 1px solid darken(#dccea7, 10%)
      border-top: 1px solid lighten(#dccea7, 10%)
    &#bellegs
      border-top: 1px solid lighten(#dccea7, 10%)
    &#shelly, &#bellegs
      .description
        float: right
        h3, p
          margin-left: 20px
          margin-right: 0
      .screenshot
        float: left
      img
        float: left

#content
  .inner
    position: relative
  .entrepreneur, .startup-builder
    +grid(6, 12)
    clear: left
    margin:
      top: 35px
      bottom: 30px
    h3
      font-size: 2em
      margin-bottom: 12px
      strong
        color: #980000
    ul
      +no-bullets
      +reset-box-model
      font-size: 1.4em
      width: 440px
      margin: 0
      strong
        color: #980000
        font-weight: normal
  .startup-builder
    margin:
      top: 0
      bottom: 55px
  img
    &.site, &.code
      position: absolute
      display: block
      width: 420px
      background: lighten(#EDECCE, 50%)
      padding: 9px
      +border_dark
      top: 65px
      right: 0px
      z-index: 10
    &.site
      z-index: 0
      +transform(rotate(-10deg))
      top: 65px
      right: 20px

#testimonials
  padding: 2em 0 2em
  ul
    +reset-box-model
    +no-bullets
    +border-top-light
    padding-top: 3em
    li
      +grid(12, 12)
      margin:
        bottom: 2em
        top: 4em
      img
        width: 160px
        float: left
        margin-right: 35px
        background: lighten(#EDECCE, 50%)
        padding: 9px
        +border_dark
        margin-left: 75px
      .testimonial
        cite
          font-style: normal
          font-size: 1.5em
          background: lighten(#EDECCE, 50%)
          +border_dark
          display: block
          padding: .75em 0
          em
            font-style: italic
            font-weight: bold
      blockquote
        +reset-box-model
        font-family: georgia, "Times New Roman", serif
        font-size: 1.6em
        padding-right: 150px
        margin-top: -50px
        font-style: italic
      &.ekartenwelt
        margin-top: 8em
        img
          float: right
          margin-left: 35px
          margin-right: 75px
        .testimonial
          cite
            text-align: right
        blockquote
          padding: 0 0 0 150px
          text-align: right

#home-contact
  padding: 1em 0 3em
  background-color: #dccea7
  h3
    +grid(5, 12)
    text-align: right
    font-size: 3.5em
    margin-left: 40px
    margin-right: 40px
  p
    +grid(5, 12)
    font-size: 1.4em
    margin-top: 2.2em

#scalability_experts, #rails_developers
  +grid(6, 12)
  line-height: 1.5em
  h2
    font-size: 1.2em
    margin-bottom: 1.2em
  li
    margin-bottom: 1em

#scalability_experts
  a
    font-weight: bold
