body
  font-family: Arial, sans-serif
  font-size: 0.75em
  +reset-box-model
  padding-bottom: 2em
  background-color: white

a
  +link-colors(#1f1f88, #1f1f88, #b02626, #3c294e, #1f1f88)
  &.visit_site
    float: left
    background: #b0a87d image-url("arrow-r.png") 92% 50% no-repeat
    color: white
    text-decoration: none
    padding: 0.1em 2em 0.1em 1.5em
    font-size: 0.85em
    text-transform: uppercase
    margin-top: 1em
    +border-radius(3px)
    &:focus, &:hover, &:active
      background-color: darken(#b0a87d, 10%)
  &.back
    float: left
    background: #b0a87d image-url("arrow-l.png") 8% 50% no-repeat
    color: white
    text-decoration: none
    padding: 0.1em 1.5em 0.1em 2em
    font-size: 0.85em
    text-transform: uppercase
    margin-top: 1em
    +border-radius(3px)
    &:focus, &:hover, &:active
      background-color: darken(#b0a87d, 10%)

h1, h2, h3, h4, h5
  +single-text-shadow

h1
  font-size: 2em
  margin-top: 1em
  font-weight: normal
  letter-spacing: -0.01em
.subpage
  h1
    margin-bottom: 0

p
  line-height: 1.75em

img
  border: none

ul
  padding-left: 1.5em
  margin: 0.5em 0
  li
    margin-bottom: 0.3em

header, footer
  .inner
    +grid-container

header, #main
  .inner
    +clearfix

header, footer
  display: block
  background-repeat: repeat-x

header
  padding: 1.5em 0 .5em

#logo
  margin: 1em 0 0 10px
  font-weight: bold
  font-size: 1em
  position: absolute
  a
    color: #eeeeee
    text-decoration: none
  a, img
    display: block
    float: left
  img
    width: 200px

nav
  float: right
  margin-left: 5em
  font-size: 1.2em
  ul
    +clearfix
    margin-bottom: 25px
    margin-top: 15px
  li
    float: left
    overflow: hidden
    list-style: none
    text-transform: lowercase
    margin-bottom: 0
  a, span
    float: left
    padding: 0 15px
  a
    color: #999999
    outline: none
    text-decoration: none
  em
    display: block
    font-weight: bold
    font-style: normal
    color: #333333
    font-size: 1.4em
    margin-bottom: 0.3em
    text-transform: capitalize
  li.webgen-menu-item-selected span, a:focus, a:hover, a:active
    color: #333
    em
      color: #333
  li.webgen-menu-item-selected
    span
      border-color: black

#main
  clear: both
  background-color: $background_color
  color: $font_color
  .inner
    +grid-container

footer
  padding: 2em 0
  p
    text-align: right
    margin-right: 10px
  a
    +hover-link
