@import base.sass

#header, #main, #footer
  +grid-container
  :overflow hidden

#logo
  +grid(2,12)
#navigation
  +grid(10,12)
  li
    :float left
    :overflow hidden
    :list-style none
    :margin-right 1em
  a
    :outline none
  em
    :display block

#main
  :clear both
  .title
    +grid(3,12)
  .content
    +grid(9,12)
#home
  .subheader
    +grid(7,12)
  .content
    +grid(5,12)

#footer
  h4
    +grid(10,12)
  p
    +grid(2,12)
